$white: #FFFFFF;
$gray: #252525;
$lightOrange: #FEAA2B;
$darkOrange: #FF810D;

html {
    background-color: #252525;
    color: $white;
    font-family: 'Blinker', sans-serif;
    font-weight: lighter;
}   

body {
    margin: 10px 0 10px 0; 
}

h1 {
    font-size: 2em; 
    font-family: Aldrich, sans-serif;
    font-weight: lighter; 
    margin-left: 2%;
}

h2 {
    font-size: 1.5em;
    font-weight:300;
    margin-top: 5px; 
}

nav {
    display: flex;
    background-color: $lightOrange;
    width: 100%;
    height: 2em;
    justify-content: right;
    text-align: center; 
    margin: 2.5em 0 0 0;
}

.Menu {
    border-left: solid $gray 5px;
    width: 6em;
    padding-top: 0.4em; 
}

a {
    color: $white; 
    text-decoration: none;
}

a:hover {
    font-weight:bold; 
}

.MenuCurrent {
    border-left: solid $gray 5px;
    background-color: $darkOrange;
    width: 6em;
    padding-top: 0.4em; 
}


.SummaryContainer {
    margin: 2% 4% 3% 3%; 
    height: minmax(3.5em, auto);  
    border-left: solid $darkOrange 5px;
    border-right: solid $darkOrange 5px; 
}

.SummaryText{
    padding: 0.5em 5px 0.5em 10px; 
    position: relative;
}

.SummaryText:before {
    content: "";
    background: $darkOrange;
    position: absolute;
    top: 0px;
    right: -1px;
    height: 5px;
    width: 64px;
}

.SummaryText:after {
    content: "";
    background: $darkOrange;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px;
    width: 64px;
}

.ContainerSkills {
    margin: 0 4% 0 calc(3% + 15px);
}

.ContainerBigSmall {
    display: grid;
    column-count: 2; 
    grid-template-columns: auto max-content;
    column-gap: 5%;
    margin: 1.5% 4% 0 calc(3% + 15px); 
    width: calc(100% - 7% - 20px);
    height: 100%;

    img, video {
        float: right; 
        width: 75vh; 
    }
} 

.ContainerSmallBig {
    display: grid; 
    grid-template-columns: max-content auto;
    column-gap: 5%;
    margin: 2.5% 4% 2% calc(3% + 15px); 
    width: calc(100% - 7% - 20px);
    height: 100%;
}

.ContainerContact {
    display: grid;
    column-count: 2; 
    grid-template-columns: 20% 60%;
    column-gap: calc(20% - 5.7% - 4px);
    margin: 2% 4% 2% 3%;
}


.ContainerAddress {
    margin: auto 0 auto 15px; 
    width: calc(100% - 6% - 15px);
    padding: 5px; 
}

.ContainerContactForm {
    background-color: $lightOrange;
    margin: 1.5% 2.7% 3% 3%; 
    height: 150%;   
    width: 100%;
    position: relative;
    padding: 2%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.KontaktTitel {
    margin-left: 5%;
    position: relative;
}

.ContainerContactForm:before {
    content: "";
    background: $darkOrange;
    position: absolute;
    bottom: -1.2em;
    right: -2.75%;
    height: 35%;
    width: 5px;
}

.ContainerContactForm:after {
    content: "";
    background: $darkOrange;
    position: absolute;
    bottom: -1.2em;
    right: -2.75%;
    height: 5px;
    width: 53.5%;
}


.KontaktTitel:before {
    content: "";
    background: $darkOrange;
    position: absolute;
    top: 1.2em;
    left: -5.5%;
    height: 315%;
    width: 5px;
}

.KontaktTitel:after {
    content: "";
    background: $darkOrange;
    position: absolute;
    top: 1.2em;
    left: -5.5%;
    height: 5px;
    width: 53.5%;
}


.UnderlineTitle {
    background-color: $darkOrange;
    height: 4px;
    width: 7em; 
}

.UnderlineSubtitle {
    background-color: $lightOrange;
    height: 3px; 
    width: 13em;
    margin-top: 3px;
}

ul {
    list-style-type: none;
}
  
li::before {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    background-color: $lightOrange;
    margin: 0 5px 2px 0;
  }


img {
    width: 100%;
    margin-left: none; 
}

input, textarea {
    width: 94%; 
    color: $white;
    font-family: Blinker, sans-serif;
    font-size: 1em; 
    background-color: $lightOrange;
    border: none; 
    margin: 20px 3% 0 3%; 
}

.namen {
    width: 94%; 
}

input[name=vorname] {
    float: left; 
    width: 45%; 
    margin: 7px 0 0 0; 
}

input[name=nachname] {
    float: right; 
    width: 45%; 
    margin: 7px auto 0 0; 
}

textarea {
    height: 45%;  
    resize: none;
}

input::placeholder, textarea::placeholder {
    color: $white; 
}

input[name=nachricht]::placeholder {
    position: absolute; 
    top: 0; 
    padding-top: 5px; 
}

.UnderlineVorname {
    float: left; 
    background-color: $white;
    height: 3px; 
    width: 45%;
    margin: 3px 4% 0 0;  
}
.UnderlineNachname {
    float: right; 
    background-color: $white;
    height: 3px; 
    width: 45%;
    margin: 3px 1% 0 0;  
}

.UnderlineInput {
    background-color: $white;
    height: 3px; 
    width: 93%;
    margin: 3px 1% 0 0;  
}

.SendenContainerSides { 
    width: calc(7em - 7px);
    margin: auto calc(3% + 6px) 2.5% auto; 
    margin-top: minmax(2.5%, auto);
    position: relative;
}

.SendenContainerTopBottom {
    width: calc(100% - 6px);
    position: relative;
}

input[type=senden] {
    width: calc(100% - 2em - 6px); 
    background-color: $lightOrange;
    margin: 0; 
    padding: 0.8em 1.2em 0.8em 1.2em;
    text-align: center; 
    border: none;
    cursor:pointer;
    font-weight: bold; 
    position: relative; 
  }
  
input[type=senden]:hover {
    background-color: $darkOrange;
  }

.SendenContainerSides:before {
    content: "";
    background: $white;
    position: absolute;
    top: -2px;
    left: -7px;
    height: 45%;
    width: 3px;
}

.SendenContainerTopBottom:before {
    content: "";
    background: $white;
    position: absolute;
    top: -5px;
    left: -7px;
    height: 3px;
    width: 45%;
}

.SendenContainerSides:after {
    content: "";
    background: $white;
    position: absolute;
    bottom: -5px;
    right: -1px;
    height: 45%;
    width: 3px;
}

.SendenContainerTopBottom:after {
    content: "";
    background: $white;
    position: absolute;
    bottom: -5px;
    right: -4px;
    height: 3px;
    width: 45%;
}


@media (max-width: 768px)
{



}

@media (max-width: 1024px)
{



}