html {
    background-color: #252525;
    color: #FFFFFF;
    font-family: 'Blinker', sans-serif;
    font-weight: lighter;

}   

body {
    margin: 10px 0 10px 0; 
}

h1 {
    font-size: 2em; 
    font-family: Aldrich, sans-serif;
    font-weight: lighter; 
    margin-left: 2%;
}

h2 {
    font-size: 1.5em;
    font-weight:300;
    margin-top: 5px; 
}

.UnderlineTitle {
    background-color: #FF810D;
    height: 4px;
    width: 7em; 
}

.UnderlineSubtitle {
    background-color: #FEAA2B;
    height: 3px; 
    width: 13em;
    margin-top: 3px;
}

nav {
    display: flex;
    background-color: #FEAA2B;
    width: 100%;
    height: 2em;
    justify-content: right;
    text-align: center; 
    margin: 1.7% 0 0 0;
}

.Menu {
    border-left: solid #252525 5px;
    width: 6em;
    padding-top: 0.4em; 
}

.MenuCurrent {
    border-left: solid #252525 5px;
    background-color: #FF810D;
    width: 6em;
    padding-top: 0.4em; 
}

a {
    color: #FFFFFF; 
    text-decoration: none;
}

a:hover {
    font-weight:bold; 
}

.SummaryContainer {
    margin: 2% 4% 3% 3%; 
    height: minmax(3.5em, auto);  
    border-left: solid #FF810D 5px;
    border-right: solid #FF810D 5px; 
}

.SummaryText{
    padding: 0.5em 5px 0.5em 10px; 
    position: relative;
}

.SummaryText:before {
    content: "";
    background: #FF810D;
    position: absolute;
    top: 0px;
    right: -1px;
    height: 5px;
    width: 64px;
}

.SummaryText:after {
    content: "";
    background: #FF810D;
    position: absolute;
    bottom: 0;
    left: -1px;
    height: 5px;
    width: 64px;
}

.ContainerBigSmall {
    display: grid;
    column-count: 2; 
    grid-template-columns: auto max-content;
    column-gap: 5%;
    margin: 1.5% 4% 0 calc(3% + 15px); 
    width: calc(100% - 7% - 20px);
    height: 100%;
} 

.ContainerSmallBig {
    display: grid; 
    grid-template-columns: max-content auto;
    column-gap: 5%;
    margin: 2.5% 4% 2% calc(3% + 15px); 
    width: calc(100% - 7% - 20px);
    height: 100%;
}

.Profilbild img {
    width: 18em; 
}

img, video {
    float: right; 
    width: 25em; 
}

.ContainerSkills {
    margin: 3.3% 4% 0 calc(3% + 15px);
}

ul {
    list-style-type: none;
}
  
li::before {
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 0.4em;
    background-color:#FEAA2B;
    margin: 0 5px 2px 0;
  }

.ContainerContact {
    display: grid;
    column-count: 2; 
    grid-template-columns: 20% 60%;
    column-gap: calc(20% - 5.7% - 4px);
    margin: 2% 4% 2% 3%;
}

.ContainerAddress {
    margin: auto 0 auto 15px; 
    width: calc(100% - 6% - 15px);
    padding: 5px; 
}

.UnderlineAddress {
    background-color: #FEAA2B;
    height: 3px; 
    width: 8em;
    margin-top: 3px;
}

.ContainerContactForm {
    background-color: #FEAA2B;
    margin: 1.5% 2.7% 3% 3%; 
    height: 150%;   
    width: 100%;
    position: relative;
    padding: 2%; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ContainerContactForm:before {
    content: "";
    background: #FF810D;
    position: absolute;
    bottom: -1.2em;
    right: -1em;
    height: 35%;
    width: 5px;
}

.ContainerContactForm:after {
    content: "";
    background: #FF810D;
    position: absolute;
    bottom: -1.2em;
    right: -1em;
    height: 5px;
    width: 53.5%;
}

.KontaktTitel {
    margin-left: 5%;
    position: relative;
}

.KontaktTitel:before {
    content: "";
    background: #FF810D;
    position: absolute;
    top: 1.2em;
    left: -5.5%;
    height: 315%;
    width: 5px;
}

.KontaktTitel:after {
    content: "";
    background: #FF810D;
    position: absolute;
    top: 1.2em;
    left: -5.5%;
    height: 5px;
    width: 53.5%;
}

input, textarea {
    width: 94%; 
    color: white;
    font-family: Blinker, sans-serif;
    font-size: 1em; 
    background-color: #FEAA2B;
    border: none; 
    margin: 20px 3% 0 3%; 
}

.namen {
    width: 94%; 
}

input[name=vorname] {
    float: left; 
    width: 45%; 
    margin: 7px 0 0 0; 
}

input[name=nachname] {
    float: right; 
    width: 45%; 
    margin: 7px auto 0 0; 
}

textarea {
    height: calc(60% - 3em);  
    resize: none;
}

input::placeholder, textarea::placeholder {
    color: white; 
}

.UnderlineVorname {
    float: left; 
    background-color: #FFFFFF;
    height: 3px; 
    width: 45%;
    margin: 3px 4% 0 0;  
}
.UnderlineNachname {
    float: right; 
    background-color: #FFFFFF;
    height: 3px; 
    width: 45%;
    margin: 3px 1% 0 0;  
}

.UnderlineInput {
    background-color: #FFFFFF;
    height: 3px; 
    width: 93%;
    margin: 3px 1% 0 0;  
}

.SendenContainerSides { 
    width: calc(7em - 7px);
    margin: auto calc(3% + 6px) 2.5% auto; 
    margin-top: minmax(2.5%, auto);
    margin-bottom: minmax(0.5%, 2.5%);
    position: relative;
}

.SendenContainerSides:before {
    content: "";
    background: #FFFFFF;
    position: absolute;
    top: -2px;
    left: -7px;
    height: 45%;
    width: 3px;
}

.SendenContainerSides:after {
    content: "";
    background: #FFFFFF;
    position: absolute;
    bottom: -5px;
    right: -1px;
    height: 45%;
    width: 3px;
}

.SendenContainerTopBottom {
    width: calc(100% - 6px);
    position: relative;
}

.SendenContainerTopBottom:before {
    content: "";
    background: #FFFFFF;
    position: absolute;
    top: -5px;
    left: -7px;
    height: 3px;
    width: 45%;
}

.SendenContainerTopBottom:after {
    content: "";
    background: #FFFFFF;
    position: absolute;
    bottom: -5px;
    right: -4px;
    height: 3px;
    width: 45%;
}

input[type=senden] {
    width: calc(100% - 2em - 6px); 
    background-color: #FEAA2B;
    margin: 0; 
    padding: 0.8em 1.2em 0.8em 1.2em;
    text-align: center; 
    border: none;
    cursor:pointer;
    font-weight: bold; 
    position: relative; 
  }
  
input[type=senden]:hover {
    background-color: #FF810D;
  }


@media (max-width: 768px)
{
    body {
        margin-top: 0px; 
        margin-right: 0px;
        font-size: smaller;
    }

    nav {
        justify-content: center;
        margin: 0 0 0 0;
    }

    .Menu {
        border: none; 
        width: 6em;
        padding: 0.4em;
    }
    
    .MenuCurrent {
        border: none; 
        width: 6em;
        padding: 0.4em;
    }

    .ContainerBigSmall {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 4% 5% 7.5% 5%; 
    } 
    
    .ContainerSmallBig {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 4% 5% 7.5% 5%; 
    }

    .ContainerSkills {
        width: 90%;
        margin: 4% 5% 0 5%; 
    }

    .Profilbild img {
        width: 90%; 
        margin: 0 5% 0 5%;  
    }
    
    img, video {
        float: none; 
        width: 90%; 
        margin: 0 5% 0 5%;  
    }

    .MediaOrder {
        order: 2; 
    }

    .ContainerContact {
        display: flex;
        flex-direction: column; 
        width: 90%;
        margin: 3.5% 5% 0 5%; 
    }
    
    .ContainerContactForm {
        margin: 1.5% 5% 3% 5%; 
        width: 90%;
        height: 350px;   
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .ContainerAddress {
        margin: 0 0 4% 0; 
        width: 90%;
    }
    
    .UnderlineAddress {
        width: 13em;
    }
}

@media (min-width:769px) and (max-width: 1024px)
{
    .Profilbild img {
        width: 14em; 
    }
    
    img, video {
        width: 20em; 
    }

    .ContainerContact {
        display: flex;
        flex-direction: column; 
        width: 90%;
        margin: 3.5% 5% 0 5%; 
    }

    .ContainerAddress {
        margin: 0;
    }
    
    .ContainerContactForm { 
        width: 90%;
        height: 350px;   
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .UnderlineAddress {
        width: 13em;
    }
    
}